@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

html{font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-size: medium;}

/* FONDO MENÚ */

.container-fluid{
    background-color: orange;
    border-style: solid;
    border-color: blue;
    height: 125px;
}

/* FONDO COLOR PANTALLA */

body{background-color: whitesmoke;}


/* FOOTER */

footer img{width: 40px;
padding-top: 30px;
}

/* REDES */

.redes{
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    padding-right: 20px;
    margin-top: 30px;
}

/* COPYRIGHT */

.masashi{
    display: flex;
    justify-content: flex-end;
    padding-bottom: 50px;
    padding-right: 20px;
}

/* BANNER */

.banner img{width: 100%;
padding-top: 15px;
height: 250px;}

/* GRID FOTOS-NOMBRES-TEXTOS PERSONAJES */

.container{
    display: grid;
    grid-template-columns: 80%;
    margin-top: 50px;
    
}

.pjfoto1{
    display: grid;
    width: 20rem;
    margin-top: 50px;
}

.pjfoto2{
    display: grid;
    width: 20rem;
    margin-top: 50px;
}

.pjfoto3{
    display: grid;
    width: 20rem;
    margin-top: 50px;
}

.pjfoto4{
    display: grid;
    width: 20rem;
    margin-top: 50px;
}

.pjfoto5{
    display: grid;
    width: 20rem;
    margin-top: 50px;
}

.pjfoto6{
    display: grid;
    width: 20rem;
    margin-top: 50px;
}

.pjnombre1{
    display: grid;
    margin-top: 10px;
}

.pjnombre2{
    display: grid;
    margin-top: 10px;
}

.pjnombre3{
    display: grid;
    margin-top: 10px;
}

.pjnombre4{
    display: grid;
    margin-top: 10px;
}

.pjnombre5{
    display: grid;
    margin-top: 10px;
}

.pjnombre6{
    display: grid;
    margin-top: 10px;
}

.pjtexto1{
    display: grid;
    margin-top: 1px;
}

.pjtexto2{
    display: grid;
    margin-top: 1px; 
}

.pjtexto3{
    display: grid;
    margin-top: 1px; 
}

.pjtexto4{
    display: grid;
    margin-top: 1px; 
}

.pjtexto5{
    display: grid;
    margin-top: 1px; 
}

.pjtexto6{
    display: grid;
    margin-top: 1px; 
}


/* PADDING/MARGIN TITULOS DE CADA SOLAPA */

.opvideos{
    margin-top: 10px;
}

.videos{
    margin-top: 10px;
}

.openings{
    margin-top: 10px;
}

.guia{
    margin-top: 10px;
}

.donde-ver-naruto{
    margin-top: 20px;
    padding-left: 10px;
}

@media only screen and (max-width: 500px) {
    .container-fluid{
        background-color: orange;
        border-style: solid;
        border-color: blue;
        height: 125px;
    }
}

