/* FOOTER */
footer{
    img{
        width: 40px;
        padding-top: 30px;
    }
    .redes {
        display: flex;
        justify-content: flex-end;
        flex-direction: row;
        padding-right: 20px;
        margin-top: 30px;
    }
  
    .masashi {
        display: flex;
        justify-content: flex-end;
        padding-bottom: 50px;
        padding-right: 20px;
    }
    
}

/* COPYRIGHT */


/* REDES */
