.cartas-personajes{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    .img-card{
        width: 25rem;
    }
}

.cards-videos-content{
    display: flex;     
    align-items:flex-end;
}

.link-anime{
    margin-top: 20px;
    font-size: 1.5rem;
    padding-left: 1rem;
    text-decoration: none;   
    
    &:hover{
        text-shadow: 0 0 10px #fff,
        0 0 20px #fff,
        0 0 30px #fff,
        0 0 40px $naranja,
        0 0 70px $naranja,
        0 0 80px $naranja,
        0 0 100px $naranja,
        0 0 150px $naranja; 
       ;       
    }
}
